<% @bookmarks.each do |bookmark| %>
<li> <a href=<%= bookmark.url %>> <%= bookmark.title %></a>

<form action='/bookmarks/<%=bookmark.id%>' method='post'>
  <button type="submit" value=delete id="Delete<%= bookmark.title %>"> Delete </button>
  <input type='hidden' name='_method' value='delete'>
</form>

<form action='/bookmarks/<%=bookmark.id%>' method='post'>
  <input type='text' name=title placeholder='E.g Youtube' required>
  <input type='text' name=url size=30 placeholder="E.g https://www.youtube.com" required>
  <button type="submit" value=update id="Update<%= bookmark.title %>"> Update </button>
  <input type='hidden' name='_method' value='put'>
</form>

</li>
<% end %>
<br>
<br>
<form action="/" method="get">
  <button type="submit" value=return>Back To Homepage</button>
</form>

